@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
*::selection{
    background-color: purple;
}
html{
    font-family: 'Poppins', sans-serif;
    background: #000;
}
header{
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(rgba(64, 3, 64, 0.696), rgba(33, 28, 28, 0.8)), url("akatsuki.png"); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 80vh;
    height: 80dvh;
    position: relative;
}

ul{
    display: flex;
    list-style: none;
    cursor: pointer;
    justify-content: center;
    gap: 2.2rem;
    padding-top: 2rem;
    color: white;
}


.heroSection{
    color: aliceblue;
    display: grid;
    place-items: center;
    font-weight: 900;
    font-size: 3rem;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
ion-icon {
    font-size: 2rem;
    cursor: pointer;
  }
  ion-icon:hover{
    color: rgb(158, 158, 158);
    scale: 1.1;
    transition: color 150ms ease-in-out;
  }
  .circle{
    /* background-image:  url("akatsuki.png"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    aspect-ratio: 1/1;
    width: 12rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% ,50%)
  }
.circle>img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.circle:hover>img{
    scale: 1.05;
    transition: scale 200ms ease-in-out;
}